<h1>Listing group_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bunch_types.each do |bunch_type| %>
      <tr>
        <td><%= bunch_type.name %></td>
        <td><%= link_to 'Show', bunch_type %></td>
        <td><%= link_to 'Edit', edit_bunch_type_path(bunch_type) %></td>
        <td><%= link_to 'Destroy', bunch_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group type', new_bunch_type_path %>
